<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}KlizHub{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>