{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/dist/styles/helis.css') }}" />
{% endblock %}

{% block header %}
    {% include 'AppBundle:Shared:header.html.twig' %}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('assets/dist/scripts/vendor.js') }}"></script>
    <script src="{{ asset('assets/dist/scripts/main.js') }}"></script>
{% endblock %}