{% extends 'default.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Change Password</h1>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.oldPassword) }}
            {{ form_widget(form.oldPassword, {attr: {class: 'form-control'}}) }}
            {{ form_errors(form.oldPassword) }}
        </div>
        <div class="form-group">
            {{ form_label(form.newPassword.first) }}
            {{ form_widget(form.newPassword.first, {attr: {class: 'form-control'}}) }}
            {{ form_errors(form.newPassword.first) }}
        </div>
        <div class="form-group">
            {{ form_label(form.newPassword.second) }}
            {{ form_widget(form.newPassword.second, {attr: {class: 'form-control'}}) }}
            {{ form_errors(form.newPassword.second) }}
        </div>

        <button type="submit" class="btn btn-primary">Change</button>
        {{ form_end(form) }}
    </div>
{% endblock %}