{% extends 'default.html.twig' %}

{% block body %}
    <div class="container all-pictures-grid">
        {% if pictures %}
            {% for row in pictures|batch(4) %}
                <div class="row">
                    {% for picture in row %}
                        <div class="col-md-3 col-sm-6">
                            <a href="#" class="thumbnail trigger-picture-modal" data-picture-id="{{ picture.id }}" style="background-image: url({{ asset('uploads/pictures/' ~ picture.file) | imagine_filter('picture_thumbnail') }})">
                                <span class="owner">
                                    {{ picture.user.username }}
                                </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h2>There is no pictures yet</h2>
        {% endif %}
    </div>
{% endblock %}