{% extends 'default.html.twig' %}

{% block body %}
    <div class="container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('user_login') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" name="_password"/>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}