{% extends "default.html.twig" %}

{% block body %}
    <div class="container">
        <h1>{{ album.title }}</h1>

        {% if viewingAsOwner %}
            <a class="btn btn-danger remove-album" href="#" data-slug="{{ album.slug }}">Remove Album</a>
        {% endif %}

        {% if albums or pictures %}
            <div class="all-pictures-grid albums-wrapper">
                {% for row in albums|batch(4) %}
                    <div class="row">
                        {% for album in row %}
                            <div class="col-md-3 col-sm-6">
                                <a href="{{ url('single_album', {slug: album.slug}) }}" class="thumbnail album" style="{% if album.coverPicture %}background-image: url({{ asset('uploads/pictures/' ~ album.coverPicture.file) }}){% endif %}">
                                <span class="title">
                                    {{ album.title }}
                                </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% for row in pictures|batch(4) %}
                    <div class="row">
                        {% for picture in row %}
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="thumbnail trigger-picture-modal" data-picture-id="{{ picture.id }}" style="background-image: url({{ asset('uploads/pictures/' ~ picture.file) | imagine_filter('picture_thumbnail') }})">
                                <span class="owner">
                                    {{ picture.title }}
                                </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                This album is empty
            </div>
        {% endif %}
    </div>
{% endblock %}
