{% extends 'default.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Create New Album</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.parent) }}
            {{ form_widget(form.parent, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.parent) }}
        </div>

        <button class="btn btn-primary">Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}