{% extends "default.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Your Library</h1>
        <a class="btn btn-primary" href="{{ url('new_album') }}">New Album</a>
        <a class="btn btn-primary" href="{{ url('new_picture') }}">New Picture</a>

        {% if albums %}
            <div class="all-pictures-grid albums-wrapper">
                {% for row in albums|batch(4) %}
                    <div class="row">
                        {% for album in row %}
                            <div class="col-md-3 col-sm-6">
                                <a href="{{ url('single_album', {slug: album.slug}) }}" class="thumbnail album" style="{% if album.coverPicture %}background-image: url({{ asset('uploads/pictures/' ~ album.coverPicture.file) }}){% endif %}">
                                <span class="title">
                                    {{ album.title }}
                                </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                You have no albums yet.
            </div>
        {% endif %}
    </div>
{% endblock %}
