<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('homepage') }}">KlizHub</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('user_albums') }}">My Library</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url('change_password') }}">Change Password</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url('user_logout') }}">Logout</a></li>
                {% elseif not app.user %}
                    <li><a href="{{ url('user_login') }}">Login</a></li>
                    <li><a href="{{ url('user_registration') }}">Register!</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>