.albums-wrapper {
  margin-top: 50px;

  .album {
    .title {
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 0;
      left: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 5px;
    }
  }
}