.all-pictures-grid {
  .thumbnail {
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .owner {
      position: absolute;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      bottom: 5px;
      left: 5px;
      text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    }
  }
}