.picture-modal {
  img {
    width: 100%;
  }

  .modal-footer {
    text-align: left;
  }

  .picture-details {
    margin-top: 25px;

    .picture-description {
      margin-bottom: 10px;
    }
  }
}