{% extends 'default.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Upload New Picture</h1>

        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Before uploading picture, you should create at least one album. <a href="{{ url('new_album') }}">Create One</a>
        </div>
    </div>
{% endblock %}