{% extends 'default.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Upload New Picture</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.isPrivate) }}
            {{ form_widget(form.isPrivate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.isPrivate) }}
        </div>
        <div class="form-group">
            {{ form_label(form.file) }}
            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.file) }}
        </div>
        <div class="form-group">
            {{ form_label(form.album) }}
            {{ form_widget(form.album, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.album) }}
        </div>

        <button class="btn btn-primary">Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}