<div class="modal fade picture-modal" tabindex="-1" role="dialog" data-picture-id="{{ picture.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">{{ picture.title }}</h4>
            </div>
            <div class="modal-body">
                <img src="{{ asset('uploads/pictures/' ~ picture.file) }}" alt="{{ picture.title }}"/>

                <div class="picture-details">
                    {% if picture.description %}
                        <div class="picture-description">
                            {{ picture.description }}
                        </div>
                    {% endif %}
                    <strong>Submitted by:</strong>
                    <a href="{{ url('user_profile', {username: picture.user.username}) }}">
                        {{ picture.user.username }}
                    </a>
                </div>
            </div>
            {% if viewedByOwner %}
                <div class="modal-footer">
                    <div class="btn-block">
                        <a href="#" class="btn btn-primary set-cover">Set as Album Cover</a>
                        <a href="#" class="btn btn-danger remove-picture">Remove Picture</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>